# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pyrogram / Telethon session files
*.session
*.session-journal
ForwardBot.session

# Environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log
TelegramBot.log

# Operating System Files
.DS_Store
Thumbs.db